body{
    font-family: Space Grotesk,sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    }

.background-video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
z-index: -1;
}



.h2{
    color:white ;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Space Grotesk,sans-serif;
    
}

.About-Me-Second-Header{
    color: #f4d06f;
    margin: 5px 0;
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 2px;display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Main-Title{
    font-size: 7.6rem;
    color: #5bcefa;
    grid-column: 2/-2;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    
}

.Header-Module-Subheading--developer{
    animation-delay: 3s;
}

.Header-Subheading{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    color: white;
    
}

.Paragraph-One{
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
}

.button{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: auto;
}


.button{
    font-size: 1.6rem;
    color: #fff;
    font-family: Space Grotesk,sans-serif;
    margin-bottom: 20px;
    align-self: start;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 40px 30px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}
.button:hover {
    box-shadow: 4px 4px 0 #fff;
    transform: translate(-4px,-4px);
}
.button:focus-visible{
    outline-offset: 1px;
}

  

.Skills-Header-Module{
    grid-column: 2/-2;
    grid-row: auto;
    margin: 0 auto;
    max-width: 700px;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    font-family: Space Grotesk,sans-serif;
    padding: 0;
    color: #fff;
}



.Coding-Language-Images{
    color: #fff;
    width: 100%;
    grid-column: 2/-2;
    grid-row: auto;
    margin: 0 auto;
    max-width: 1800px;
    grid-gap: 40px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(6,minmax(70px,1fr));
    padding: 0;
    
    font-size: 62.5%;
    line-height: 1.15;

}

.Skills-Logos{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    transition: transform .3s,-webkit-transform .3s;
    margin: 0;
    padding: 10;
    list-style: none;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    font-family: Space Grotesk,sans-serif;
}

.Projects-H2{
    color: #fff;
    grid-column: 2/-2;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    font-family: Space Grotesk,sans-serif;
    margin: 0;
    padding: 0;
}

.Projects-Module{
    padding: 20rem 0;
    grid-column-gap: 1%;
    grid-template-columns: 4% repeat(24,2.79591%) 4%;
    max-width: 1017px;
    display: grid;
    margin: 0 auto;
}

.Project-Module-Curious{
    color: #a2faa3;
    width: 100%;
    margin: 0 auto 20rem;
    grid-column: 2/-2;
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: Space Grotesk,sans-serif;
}

.Projects-List{
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    color: #fff;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.grid-wrapper-undefined{
    grid-column-gap: 1%;
    grid-template-columns: 4% repeat(24,2.79591%) 4%;
    max-width: 1017px;
    grid-column-gap: 1%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 4% repeat(36,1.527778%) 4%;
    margin: 0 auto;
    max-width: 1400px;
    line-height: 1.15;
}

.ProjectCard-Bookstore{
    grid-column: 4/-2;
    grid-row: 1;
    display: block;
}

.ProjectCard-Bookstore-Description{
    border-top: 6px solid #f5a9b8;
    color: #f5a9b8;
    grid-column: 7/-7;
    padding-right: 2rem;
    grid-row: 3;
    padding: 1rem;
    top: -4rem;
    align-self: center;
    text-align: left;
    display: block;
}

.Bookstore-Description{
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    font-family: Space Grotesk,sans-serif;
    margin: 0;
    padding: 0; 
}

.ProjectCard-module--description{
    margin: 1.2rem 0 2.1rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Space Grotesk,sans-serif;
    letter-spacing: 0;
    padding: 0;
    text-align: left;
}

.Bookstore-Gif{
    display: block;
    height: auto;
    max-width: 100%;
    border-style: none;
}

.Bookstore-List-Object{
    margin-bottom: 26vh;
    margin: 0;
    padding: 0;
    list-style-type:none ;
}

.ProjectCard-fuelefficiently{
    grid-column: 4/-6;
    grid-row: 1;
    list-style: none;
    display: block;
}

.fuel-efficiently{
    display: block;
    height: auto;
    max-width: 100%;
    width: 700px;
    height: 700px;
}

.ProjectCard-fuelefficiently-Description{
    border-top: 6px solid #5bcefa;
    color: #5bcefa;
    grid-column: 7/-10;
    grid-row: 6;
    top: -4rem;
    align-self: center;
    text-align: left;
    display: block;
}

.fuel-efficiently-Description{
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    font-family: Space Grotesk,sans-serif;
    margin: 0;
    padding: 0; 
}

.h3{
    color: inherit;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Space Grotesk,sans-serif;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.ProjectCard-module--description{
    margin: 1.2rem 0 2.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    padding: 0;
    text-align: left;
}

.indegenous-language-translator-jpg{
    display: block;
    height: auto;
    max-width: 100%;
    width: 760px;
    height: 700px;
}

.ProjectCard-languagetranslator{
    grid-column: 4/-6;
    grid-row: 1;
    list-style: none;
    display: block;
}

.ProjectCard-languagetranslator-description{
    border-top: 6px solid #b57edc;
    color: #b57edc;
    grid-column: 7/-10;
    grid-row: 6;
    top: -4rem;
    align-self: center;
    text-align: left;
    display: block;
}

.langugage-translator-description{
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    font-family: Space Grotesk,sans-serif;
    margin: 0;
    padding: 0; 
}

.project-three-description{
    margin: 1.2rem 0 2.1rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Space Grotesk,sans-serif;
    letter-spacing: 0;
    padding: 0;
}

.ProjectCard-module--links--UUBYt{
    text-align: left;
    display: block;
    color: #b57edc;
}

.DBMS-jpg{
    display: block;
    height: auto;
    max-width: 100%;
    width: 760px;
    height: 700px;
}

.ProjectCard-DBMS{
    grid-column: 4/-6;
    grid-row: 1;
    list-style: none;
    display: block;
}

.ProjectCard-DBMS-description{
    border-top: 6px solid #f4d06f;;
    color: #f4d06f;;
    grid-column: 7/-10;
    grid-row: 6;
    top: -4rem;
    align-self: center;
    text-align: left;
    display: block;
}

.contact-me-section{
    padding: 0 0 20rem;
    grid-column-gap: 1%;
    grid-template-columns: 4% repeat(24,2.79591%) 4%;
    max-width: 1017px;
    display: grid;
    margin: 0 auto;
    color: #fff;
}

.h2{
    grid-column: 2/-2;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    font-family: Space Grotesk,sans-serif;
}

.Contact-me-visiual-heading{
    grid-column: 2/-2;
    max-width: 100%;
    margin: 2rem auto 2.4rem;
    text-align: center;
    color: #f4d06f;
    display: flex;
    flex-direction: column;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: capitalize;
    font-family: Space Grotesk,sans-serif;
}

.contact-me-paragraph{
    margin-bottom: 3rem;
    margin-top: 0;
    grid-column: 2/-2;
    max-width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Space Grotesk,sans-serif;
    padding: 0;
}

.contact-me-button{
    background-color: #140e1a;
    cursor: pointer;
    justify-self: center;
    margin-top: 1rem;
    grid-column: 2/-2;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 1px;
    color: #fff;
    font-family: Space Grotesk,sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: normal;
    padding: 13px 25px;
    text-transform: uppercase;
    transition: background-color .3s,color .3s,transform .3s,-webkit-transform .3s;
    overflow: visible;
    align-items: flex-start;
}








.ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1450px;
    box-sizing: initial;
    pointer-events: unset;
}


.Header-module-code{
    width: 100px;
    top:0;
    left: 40;
}

.Hero-module--skip-to-content--v5H2s{
    grid-column: 2/-2;
    margin: 4rem auto 0;
    width: 65px;
}

.About-module--headshot-container{
    align-items: center;
    display: block;
    grid-column: 2/-2;
    grid-row: auto;
    margin: 0 auto 2rem;
}

.About-Me-Module{
    min-height: 100vh;
    grid-column-gap: 1%;
grid-template-columns: 4% repeat(24,2.79591%) 4%;
max-width: 1017px;
display: grid;
margin: 0 auto;
font-size: 62.5%;
line-height: 1.15;
}

.About-Me-Module-Description{
    grid-column: 2/-2;
grid-row: auto;
margin: 0 auto;
max-width: 700px;
display: flex;
flex-direction: column;
}

.personal-picture{
    width:30rem;
    border-radius: 40%;
}

.Header-Module-Header{

min-height: 8vh;

z-index: 99;

}

.Header-module--get-in-touch{
    padding: 10px;
    width: 100px;
    
}

.Contact-module--contact-form{
    display: none;
    border: 4px solid #f4d06f;
    border-radius: 5px;
    flex-wrap: wrap;
    grid-column: 2/-2;
    justify-content: center;
    margin-top: 6rem;
    padding: 4rem;
    position: relative;
    font-family: Space Grotesk,sans-serif;
    
}

.contact-heading{
    color: #f4d06f;
line-height: 1.25;
margin: 2rem 0 5rem;
text-align: center;
font-size: 6.4rem;
font-weight: 700;
letter-spacing: 2px;
}

.Contact-module--close-form-button{
    background-color: transparent;
border: none;
color: #5bcefa;
font-family: Space Grotesk,sans-serif;
font-size: 10rem;
font-weight: 700;
height: 90px;
padding: 0;
position: absolute;
right: -40px;
top: -45px;

transform: rotate(45deg);
transition: color .3s;
cursor: pointer;
justify-self: center;
margin-top: 1rem;
grid-column: 2/-2;
text-align: center;
-webkit-appearance: button;
text-transform: none;
overflow: visible;
line-height: 1.15;
margin: 0;
align-items: flex-start;
box-sizing: border-box;
display: inline-block;
}

.Contact-module--name{
    width:50%;
    display: flex;
flex-direction: column;
font-size: 1.5rem;
letter-spacing: 2px;
margin-bottom: 1.5rem;
text-transform: uppercase;
font-family: Space Grotesk,sans-serif;
font-weight: 700;
line-height: normal;
}

.full-name-span{
    padding-left: 7px;
    content: "*";
font-size: 1.2rem;
margin-left: 2px;
position: relative;
top: -5px;
}

.Full-Name-Input{
    background: hsla(44,86%,70%,.5);
border: 3px solid #140e1a;
border-radius: 5px;
color: #140e1a;
font-size: 1.6rem;
margin: 10px 5px;
padding: 5px 5px;
transition: background .3s;
overflow: visible;
writing-mode: horizontal-tb;
}

.Contact-module--email{
    width: 50%;
    display: flex;
flex-direction: column;
font-size: 1.5rem;
letter-spacing: 2px;
margin-bottom: 1.5rem;
text-transform: uppercase;
}

.Contact-module--contact-form label span {
    padding-left: 7px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Contact-module--contact-form--SvWsM label span:after {
    content: "*";
    font-size: 1.2rem;
    margin-left: 2px;
    position: relative;
    top: -5px;
    font-family: Space Grotesk,sans-serif;
    font-weight: 700;
}

.Contact-module--contact-form input, .Contact-module--contact-form textarea {
    background: hsla(44,86%,70%,.5);
    border: 3px solid #140e1a;
    border-radius: 5px;
    color: #140e1a;
    font-size: 1.6rem;
    margin: 10px 5px;
    padding: 10px 5px;
    transition: background .3s;
    overflow: visible;
    font-family: sans-serif;
    line-height: 1.15;
    }

 .subject-input-field{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    font-family: Space Grotesk,sans-serif;
font-weight: 700;
line-height: normal;
    }

.your-message-field{
    display: flex;
flex-direction: column;
font-size: 1.5rem;
letter-spacing: 2px;
margin-bottom: 1.5rem;
text-transform: uppercase;
width: 100%;
font-family: Space Grotesk,sans-serif;
font-weight: 700;
}

.contact-me-button:hover {
    box-shadow: 4px 4px 0 #fff;
    transform: translate(-4px,-4px);
}
.contact-me-button:focus-visible{
    outline-offset: 1px;
}

.navbar-buttons{
    margin: 0;
    padding: 0;
    box-sizing: initial;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    text-transform: none;
    
}

.span{
    color: #f5a9b8;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f5a9b8;;
    margin: 6px 0;
    transition: 0.4s;
    
  }

  .navbar-container{
    display: inline-block;
    cursor: pointer;
  }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


.navigation-list {
    list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   justify-content:center ;
   font-family: "Jost", sans-serif;
    color: #4c4f52;
    font-weight: 400;
    font-size: 1rem;
}

.navigation-nav{
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-right:250px ;
}

.navigation-link:link, .navigation-link:visited {
    margin-top: 40rem;
    text-decoration: none;
    transition: all .5s;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase; 
    margin: 15px;}
    .navigation-link:link span, .navigation-link:visited span {
      color: #5918df; }
    @media only screen and (max-width: 40em) {
      .navigation-link:link, .navigation-link:visited {
        font-size: 1.6rem; } }


.code-wrapper {
            
            font-family: "Jost", sans-serif;
        color: #4c4f52;
        
}

.resume {
        display: none;
        font-family: "Jost", sans-serif;
        color: #4c4f52;
        line-height: 1.6;
    }

.move-in-up.add-animation {
    animation: moveInUp 1s ease-out;
    opacity: 1;
}

.code-line-0 {
    font-size: 0.1rem;
}

.code-line {
    width:100rem;
    font-family: "Roboto Mono", monospace;
font-size: 0.9rem;
letter-spacing: 1px;
}

.code-grey {
    color: #979797;
}

.code-blue {
    color: blueviolet;
}

.code-yellow {
    color: yellow;
    }

.code-dot {
        color: #5f5e5e;
}

.code-red {
    color: red;
}

.code-green {
    color: green;
}

.code-greenyellow {
    color: yellowgreen;
}

.code-orange {
    color: orange;
    }

.code-blue {
    color: blueviolet;
}


.social {
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    z-index: 999; }
    @media only screen and (max-width: 56.5em) {
      .social {
        bottom: 2rem;
        left: 2rem; } }
    .social-checkbox {
      display: none; }
    .social-btn {
      height: 7rem;
      width: 7rem;
      position: fixed;
      bottom: 4rem;
      left: 4rem;
      border-radius: 50%;
      z-index: 1000;
      cursor: pointer; }
      @media only screen and (max-width: 56.5em) {
        .social-btn {
          bottom: 2rem;
          left: 2rem; } }
    .social-link-linkedin {
      position: fixed;
      bottom: 4rem;
      left: 6.5rem;
      z-index: 999;
      transition: all .7s ease-out; }
      @media only screen and (max-width: 56.5em) {
        .social-link-linkedin {
          left: 4rem;
          bottom: 2rem; } }
    .social-link-github {
      position: fixed;
      bottom: 4rem;
      left: 6.5rem;
      z-index: 999;
      transition: all .7s .1s ease-out; }
      @media only screen and (max-width: 56.5em) {
        .social-link-github {
          left: 4rem;
          bottom: 2rem; } }
    .social-img {
      background-color: black;
      cursor: pointer; }
    .social-search {
      position: fixed;
      bottom: 4rem;
      left: 5rem;
      z-index: 999;
      height: 5rem;
      width: 5rem;
      transition: all .9s ease-in;
      animation: pulse 1.5s infinite ease-in-out;
      border-radius: 10px 20px 0 0; }
      @media only screen and (max-width: 56.5em) {
        .social-search {
          bottom: 2rem;
          left: 2.5rem; } }
    .social-linkedin {
      transition: all .7s ease-out;
      height: 1rem;
      width: 1rem;
      }
    .social-github {
      transition: all .7s .1s ease-out;
      height: 1rem;
      width: 1rem;
       }
    .social-checkbox:checked ~ .social-link-linkedin {
      transform: translateY(-10rem) rotate(720deg) scale(5);
      filter: brightness(1.5); }
    .social-checkbox:checked ~ .social-search {
      animation: unset;
      filter: brightness(2);
      transform: rotate(1440deg); }
    .social-checkbox:checked ~ .social-link-github {
      transform: translateY(-17rem) rotate(1080deg) scale(5);
      filter: brightness(1.5); }